@use './reset.scss';

html {
  @media (max-width: 1080px) {
    font-size: 93.75%; // 15px
  }

  @media (max-width: 720px) {
    font-size: 87.5%; // 14px
  }
}

// color vars
$background: #dedede;
$primary: #373D4F;
$secondary: #6f7585;
